.blogs {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px
}

.blog-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.blog-item:hover {
    transform: translateY(-5px);
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center; 
}

.description-blog {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
    flex-grow: 1;
}

.button-readmore {
    text-align: center;
}

.readmore-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d4a017;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.readmore-button:hover {
    background-color: #b38a14;
}